<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="medeil">
	<listeners>
		<listener class-name="utility.Reporting" />
	</listeners>
  <test  name="Test" parallel="classes" >
    <classes>
     
     <class name="customer.CustomerRegister"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
